body{
    overflow-y:scroll;
}

.element{
    margin-left: 35%;
    margin-top: 5%;
}

.app-name{
    margin: 5px;
}

.header, .header-buttons{
    display: flex;
    align-items: center;
    white-space: nowrap;
}