
.threeColumnsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 15px;
    overflow: hidden;
    margin: 5%;
}

.oneColumnContainer {
    display: grid;
    grid-template-rows: 400px;
    grid-gap: 15px;
    margin-left:35%;
    margin-top: 5%;

}

.gif {
    overflow: hidden;
}

.threeColumnsContainer img {
    width: 100%;
    object-fit: cover;
}

.oneColumnContainer img{
    width: 30%;
    object-fit: cover;
}