body{
    overflow-y:scroll;
}



.threeColumnsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 15px;
    overflow: hidden;
}

.oneColumnContainer {
    display: grid;
    grid-template-rows: 400px;
    grid-gap: 15px;
}

.pic {
    overflow: hidden;
}

.threeColumnsContainer img {
    width: 100%;
    object-fit: cover;

}

.oneColumnContainer img{
    width: 30%;
    object-fit: cover;
}